extends layout

block linkcss
    link(rel='stylesheet',href='/stylesheets/index.css')

block content
    .jumbotron.index-content
        .container
            h1 用户系统
            p 这是一个完全用js写成的系统
            p
                a.btn.btn-primary.btn-lg(href='#') 开始使用

block jsfile

