extends layout

block linkcss
    link(rel="stylesheet",href="/stylesheets/index.css")

block content
    .jumbotron.index-content
        .container
            h1 用户系统示例
            p 这是一个完全使用javascript写成的系统，以express与bootstrap为基础
            p
                a.btn.btn-primary.btn-lg(href="register") 注册用户

block jsfile

