doctype html
html
    head
        title= title
        link(rel="stylesheet",href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet",href="/stylesheets/register.css")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
    body
        .container
            h2.col-sm-offset-3 注册成为用户系统用户
            form.form-horizontal
                .form-group
                    label.col-sm-4.control-label 邮箱
                    .col-sm-3
                        input.form-control(id="f_email",type="email",check-type="required mail",placeholder="your@mail.com")
                .form-group
                    label.col-sm-4.control-label 昵称
                    .col-sm-3
                        input.form-control(id="f_nickname",type="text",check-type="required",minlength="4")
                .form-group
                    label.col-sm-4.control-label 密码
                    .col-sm-3
                        input.form-control(id="f_password",type="password",check-type="required",minlength="6")
                .form-group
                    label.col-sm-4.control-label 确认密码
                    .col-sm-3
                        input.form-control(id="f_repwd",type="password",check-type="required",minlength="6")
                .form-group
                    .col-sm-2.col-sm-offset-4
                        button.btn.btn-default.pull-right(type="reset") 清空
                    .col-sm-2
                        button.btn.btn-primary(type="submit") 注册
        script(src="/javascripts/lib/jquery-1.11.0.js")
        script(src="/bootstrap/js/bootstrap.js")
        script(src="/javascripts/lib/bootstrap3-validation.js")
        script(src="/javascripts/register.js")